/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.page-title {
    background: lightslategray;
    color: white;
    width: 30%;
    font-size: 30px;
    text-emphasis-color: initial;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
