<div class="your-contracts">
    <div class="page-title">
        <span>Your Polls</span>
    </div>
    <div class="poll-data">
        
        <div *ngIf="pollAddresses">
            <div class="basic-container">
                <mat-expansion-panel *ngFor="let panel of panels">
                    <mat-expansion-panel-header>
                            {{panel.content.name}}
                    </mat-expansion-panel-header>
                    Address: {{panel.address}}
                    <br>
                    Description: {{panel.content.description}}
                    <br>
                    Candidates: {{panel.content.candidates}}
                </mat-expansion-panel>
            </div>
        <div *ngIf="!pollAddresses">
            You have not yet created any polls.
            <br>
            <a href="/create-poll">Create Poll</a>
        </div>
    </div>
</div>

