<div class="your-contracts">
    <div class="page-title">
        <span>Your Polls</span>
    </div>
    <div class="poll-data">
        
        <div *ngIf="pollAddresses">
            <div class="basic-container">
                <mat-expansion-panel *ngFor="let panel of panels">
                    <mat-expansion-panel-header>
                            {{panel.poll.name}}
                    </mat-expansion-panel-header>
                    Address: {{panel.address}}
                    <br>
                    Description: {{panel.poll.description}}
                    <br>
                    Candidates: {{panel.poll.candidates}}
                    <br>
                    <div>
                        Results: 
                        <ul>
                            <li *ngFor="let result of panel.results" value={{result.candidate}}>
                                {{result.candidate}}: {{result.result}}
                            </li>
                        </ul>
                    </div>
                    <button class="destruct-btn" mat-button (click)="openDialog(panel.address)">Destruct</button>
                </mat-expansion-panel>
            </div>
        <div *ngIf="!pollAddresses">
            You have not yet created any polls.
            <br>
            <a href="/create-poll">Create Poll</a>
        </div>
    </div>
</div>