.block-vote-home {
    font-size: 50px;
}

.menu {
}

.header {
    background: royalblue;
    height:100px;
    color: white;
}

.selected {
    color: gray;
}

.header a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.network-info {
    float: right;
}

.network-info select {
    border: darkblue;
    border-style: ridge; 
    color: black;
}

.router-outlet {
    margin-top: 20px;
    margin-left: 30px;
}

.btn {
    width: 100px;
}