<div class="header">
  <div class="title">
    <a class="block-vote-home" href="/home">BlockVoter</a>
  </div>
  <div class="accounts">
    <select [(ngModel)]="account" (change)="updateAccount()">
      <option>--accounts--</option>
      <option *ngFor="let account of accounts" value={{account}}>
        {{account}}
      </option>
    </select>
  </div>
  <div class="network-info">
    <p *ngIf="!isConnectedToClient">Attempting to find network connection...</p>
    <p *ngIf="isConnectedToClient">Connected to network with account: {{account}}</p>
  </div>
</div>
<br><br><br><br>
<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

