<div class="header">
  <a class="block-vote-home" href="/">BlockVoter</a>
  <div class="network-info">
    <p *ngIf="!isConnectedToClient">Attempting to find network connection...</p>
    <p *ngIf="isConnectedToClient">Connected to network with account: {{account}}</p>
    <div class="accounts">
      <select [(ngModel)]="account" (change)="updateAccount()">
        <option>--accounts--</option>
        <option *ngFor="let account of accounts" value={{account}}>
          {{account}}
        </option>
      </select>
    </div>
  </div>
</div>
<div class="menu w3-bar">
  <button class="w3-button" *ngFor="let item of menuButtons" [ngClass]="item.state ? 'w3-white' : 'w3-black'" (click)="navigate(item.route)">
    {{item.text}}
  </button>
</div>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<footer>
  driemworks, 2018
</footer>

